[mysqld]
port
basedir = /usr
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
skip-networking = false
bind-address = 0.0.0.0

[mysql]
socket = /var/run/mysqld/mysqld.sock

[mysqld_safe]
log-error = /home/mysql/log/error.log
pid-file = /home/mysql/log/mysqldb.pid